*/__pycache__/*
*__pycache__*
.DS_Store
.env
.ipynb

Data/Checkpoints
Data/PaRoutes/*json
Data/Processed/pre_perms
Data/Processed/*pkl
Data/Training/
Data/Figures/
*pkl

.coverage
htmlcov/

lightning_logs/
*ipynb
Data/*sh
*ckpt
*pt
assess_old.py
assess_og.py
debug*
*pickle
slurm*out
submit*sh

assess_ref.py
assess_test.py
*tar.gz
*pdf