# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/

# IDE and System Files
.DS_Store
.env
*_cache/

# Data and Model Files
data/checkpoints/
data/paroutes/
data/paroutes/*.json
data/processed/pre_perms/
data/processed/*.pkl
data/training/
data/figures/
data/evaluation/
*.pkl
*.ckpt
*.pt
*.pickle

# Logs and Documentation
lightning_logs/
*.log
*.pdf
*.tar.gz
*.zip

# Jupyter Notebooks
*.ipynb

# Temporary and Debug Files
debug*
slurm*.out
submit*.sh
qual.sh
test*.py
