html {
    font-size: 18px;
  }

  
h1 {
  font-weight: 600 !important;
  color: #333 !important;
}

[data-md-color-scheme="slate"] h1 {
  font-weight: 600 !important;
  color: #d7d7d7 !important;
}

h2 {
  font-weight: 600 !important;
  color: #333 !important;
}

[data-md-color-scheme="slate"] h2 {
  font-weight: 600 !important;
  color: #d7d7d7 !important;
}
